<!doctype html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
  <head>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    {{ partial "preload.html" . }}
    {{ partial "styles.html" . }}
    {{ partial "seo.html" . }}
  </head>
  <body class="no-js">
    <div class="content">
      {{ partial "nav.html" . }}
      {{ if .IsHome }}
        {{ partial "about.html" . }}
      {{ end }}
      {{ block "main" . }}{{ end }}
      {{ partial "license.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>