<b>Discuss</b> on
<a href="https://mobile.twitter.com/search?q={{ .Permalink }}"
>Twitter</a> ·
{{ with  .Page.Params.discuss.devto }}<a href="https://dev.to/stereobooster/{{ . }}">dev.to</a> <a href="https://mobile.twitter.com/search?q=https://dev.to/stereobooster/{{ . }}"
>🐥</a> · {{ end }}
{{ with  .Page.Params.discuss.hn }}<a href="https://news.ycombinator.com/item?id={{ . }}">hackernews</a> · {{ end }}
{{ with  .Page.Params.discuss.reddit }}<a href="https://www.reddit.com/{{ . }}">reddit</a> · {{ end }}
